/*variables de entorno*/
:root {
    --rojo: #ff0048;
    --azul: #006eb7;
    --blanco: #fefcfb;
    --titulos: 'Roboto', bold;
    --parrafos: 'Oswald', sans-serif;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
    margin:0px;
    padding:0px;
}
body {
    font-size: 1.6rem;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

/* menú navegacion  */
.navegacion{
    position:relative;
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--rojo);
    font-family: var(--titulos);
}
.nav a{
    font-size: 2rem;
    padding-inline: 5rem;
    color:var(--blanco);
    text-decoration: none;
    font-size: 23px;
    align-content: center;
    font-weight: 600;
    font-family: var(--titulos);
    text-shadow: 2px 2px 3px rgba(11, 0, 0, 0.5);
}
.logov{
    width: 250px;
}
.navegacion a:hover {
    background-color: var(--azul);
    border-radius: 17px;
}
img{
    width: 100%;
}
/* BANNER INICIAL */
.banner{
    height: 70vh;
    margin-top: -1px;
    position: relative;
    background: url('/img/Lugar.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.banner__descripcion{
    position: absolute;
    text-align: center;
    color: #fff;
    transform: translateX(-50%) translateY(-50%);
    top: 60%;
    left: 50%;
    width: 100%;
    font-size: 15px;
    margin-top: 75px;
    text-shadow: 9px 9px 18px rgba(11, 0, 0, 0.5);
}
.button__banner{
    background: var(--rojo);
    border: none;
    color: var(--blanco);
    font-size: 40px; 
    text-decoration: none;
    border-radius: 15px;
    padding: 8px;
    font-weight: 500;
    text-shadow: 2px 2px 3px rgba(11, 0, 0, 0.5);
}
.button__banner:hover{
    background: var(--azul);
}
/* banner menu  */
.bannerm{
    height: 70vh;
    margin-top: -1px;
    position: relative;
    background: url('/img/pie.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.bannerm__descripcion{
    position: absolute;
    text-align: center;
    color: #fff;
    transform: translateX(-50%) translateY(-50%);
    top: 60%;
    left: 50%;
    width: 100%;
    font-size: 15px;
    margin-top: 75px;
    text-shadow: 9px 9px 18px rgba(11, 0, 0, 0.5);
}
.button__bannerm{
    background: var(--rojo);
    border: none;
    color: var(--blanco);
    font-size: 30px; 
    border-radius: 15px;
    padding: 8px;
    font-weight: 500;
    text-shadow: 2px 2px 3px rgba(11, 0, 0, 0.5);
}
.bannerm h1{
    font-size: 35px;
    font-weight: 500;
}
.button__bannerm:hover{
    background: var(--azul);
}
/* banner conócenos */
.bannerc{
    height: 70vh;
    margin-top: -1px;
    position: relative;
    background: url('/img/decoracion.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Texto de presentacion */
.presentacion{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 110rem;
    margin:auto;
    padding-top: 20px;
}
.card{
    width: 80%;
    margin: 1rem;
    border-radius: 82rem;
    background-color: var(--blanco);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    margin-top: 22px;
}
.t2{
    color: #ff0048;
    font-size: 28px;
    text-align:center;
}
.t3{
    color: #006eb7;
    font-size: 22px;
    text-align:justify;
}
.t4{
    font-size: 30px;
    font-family: var(--parrafos);
    text-align: center;
    color: var(--rojo);
}
.cardpt{
    width: 100%;
    margin-top: 2rem;
    max-width: 110rem;
    font-family: var(--titulos);
}
.cardpf img{
    height: 100%;
    padding: 1rem;
    border-radius: 30px;
    margin-top: 2rem;;
}
.banner2
.txtReserva{
    margin: 20px;
}

/* línea de fotos */
.imagenes{
    display: flex;
    padding-left: 120px;
    padding-right: 120px;
    align-content: center;
}
.button__botonmenu{
    background: var(--rojo);
    border: none;
    color: var(--blanco);
    font-size: 30px; 
    border-radius: 15px;
    padding: 8px;
    font-weight: 500;
    text-shadow: 2px 2px 3px rgba(11, 0, 0, 0.5);    
}



/* BANNER RESERVAS */
.banner2{
    height: 50vh;
    color: #fff;
    position: relative;
    background: url('/img/postre\ amarillo.jpg');
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}
.banner2 h1{
    font-size: 28px;
}
.banner2__descripcion{
position: absolute;
width: 100%;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
text-align: center;
}

/* BANNER RESERVAS CONOCENOS */
.bannerrc{
    height: 50vh;
    color: #fff;
    position: relative;
    background: url('/img/Picada\ \(2\).jpg');
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
}
.bannerrc h1{
    font-size: 28px;
}
.bannerrc__descripcion{
position: absolute;
width: 100%;
top: 50%;
left: 50%;
transform: translateX(-50%) translateY(-50%);
text-align: center;
}

/*Estilos iconos*/
.container-card {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    width: 100%;
    margin: auto;
    max-width: 1080px;
    column-gap: 50rem;
}
.cardi{
    margin-top: 2rem;
    border-radius: 6rem;
    box-shadow: 1px 1px 3px rgba(223, 9, 98, 0.9);
}
.cardi img{
    width: auto;
    height: 40%;
    align-items: center;
}
.container-card {
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}


/* EQUIPO */
.team .team__grid{
    grid-template-columns: repeat(3,195px);
    justify-content: space-around;
}
.team  h1{
    font-size: 40px;
text-align: center;
}
.team{
    background: #f6f6f6;
    padding: 30px;
}
.team__columna img{
border-radius: 30%;
}
.team p{
    text-align: justify;
}
.team__grid{
    display: grid;
    grid-gap:10px;
}
.info h1{
    color: #9cc76b;
    font-size: 30px;
}
.info{
    text-align: center;
}
.info__columna{
    margin: 20px;
}
.info .contenedor{
    display: grid;
    grid-gap:10px;
}

/* testimonios */
.testmonial-card {
    position: relative;
    text-align: center;
    height: 180px;
margin-top: 30px;
}
/* nombre testimonio */
.testmonial-card .testmonial-title {
    font-size: 22px;
}
.testmonial-card .testmonial-subtitle {
    font-size: 16px;
    letter-spacing: 1px;
    opacity: 0.8;
}
.testmonial-card .testmonial-body {
    position: relative;
    padding: 1rem;
    border: 2px solid #495057;
    border-top-color: #ff214f;
    border-radius: 0.2rem;
    margin-top: 30px;
}
.testmonial-card .testmonial-body:after {
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    width: 24px;
    height: 24px;
    border-color: #ff214f;
    border-radius: 0.2rem 0 0 0;
    border-style: solid;
    border-width: 2px 0 0 2px;
    -webkit-transform: rotate(45deg) translateX(-50%);
    -ms-transform: rotate(45deg) translateX(-50%);
    transform: rotate(45deg) translateX(-50%);
    background: var(--azul);
}




/* FOTOS  */
.galeria h1{
    font-size: 40px;
    text-align: center;
}
.galeria{
    margin: 20px;
}

.contenedor {
    margin: 0 auto;
    max-width: 120rem;
    width: 95%;
}

/* pág reservas - formulario*/
.fomulario-encabezado {
    background-color: var(--azul);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: .5rem;
}
.fomulario-encabezado h3{
    color: var(--blanco);
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    font-family: var(--parrafos);
}
.fomulario-encabezado h2 {
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    font-family: var(--titulos);
}
.final{
    display: flex;
    gap: 4rem;
}
.input-encabezado {
    margin-bottom: 13px;
    width: 100%;
    font-size: 17px;
    color: hwb(0 100% 0%);
    font-family: var(--parrafos);
}
.input-encabezado input {
    width: 100%;
    padding: 0 1.6rem;
    height: 4.8rem;
    border: 1px solid DarkKhaki;
    font-family: var(--parrafos);
    outline: none;
    font-weight: bold;
}
.botonr{
    background: var(--rojo);
    color: var(--blanco);
    font-size: 20px; 
    border-radius: 15px;
    padding: 6px;
    font-weight: 500;
    text-shadow: 2px 2px 3px rgba(11, 0, 0, 0.5); 
    text-align: center; 
    margin-top: 15px;  
}
/* pág reservas - banner reservas*/
.bannerr{
    height: 70vh;
    margin-top: -1px;
    position: relative;
    background: url('/img/galeria4.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.bannerr__descripcion{
    position: absolute;
    text-align: center;
    color: #fff;
    transform: translateX(-50%) translateY(-50%);
    top: 60%;
    left: 50%;
    width: 100%;
    font-size: 15px;
    margin-top: 75px;
    text-shadow: 9px 9px 18px rgba(11, 0, 0, 0.5);
}




.descrip-car {
    padding: 15px;
    text-align: center;
    font-weight: var(--parrafos);
}
.descrip-car h3 {
    margin-bottom: 15px;
    color: #7a7a7a;
}
.descrip-car p {
    line-height: 1.8rem;
    color: #7a7a7a;
    font-size: 1.4rem;
    margin-bottom: .5rem;
}
.descrip-car a {
    display: inline-block;
    padding: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: var(--blanco);
    border: 1px solid var(--azulOscuro);
    border-radius: .5rem;
    background-color: var(--azulClaro);
    margin-bottom: .5rem;
}


/* Estilos footer */
.footer {
    background-color: var(--azul);
    text-align: center;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
}
.footer-column {
    align-items: center;
    margin-top: 15px;
}
.footer-column h2 {
    margin-bottom: 10px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-transform: uppercase;
}
.footer-column ul {
    list-style: none;
    padding: 0;
}
.footer-column li a {
    color: hsl(0, 0%, 90%);
    margin-bottom: 5px;
    font-size: 15px;
    text-decoration: none;
}
.footer-column img{
    height: 80%;
    width: auto;
}

/*Menu*/
.container-pro {
    width: 100%;
    max-width: 100rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
.postres{
    width:1000px;
    padding-top: 20px;
    margin-left: 198px;
}
.cardm {
    width: 100%;
    margin: 2rem;
    border-radius: 0.6rem;
    overflow: hidden;
    background-color: var(--blanco);
    box-shadow: 1px 1px 3px var(--azul);
    transition: all 200ms ease-in;
    cursor: default;
}
.cardm:hover {
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.cardm img {
    width: 100%;
    padding: 2rem;
}
.descrip-carm {
    text-align: center;
    font-weight: var(--parrafos);
}
.descrip-carm h3 {
    color: #7a7a7a;
    margin-left: 30px;
    margin-right: 30px;
}
.boton{
    background: var(--azul);
    color: var(--blanco);
    font-size: 25px; 
    border-radius: 15px;
    font-weight: 400;
    text-shadow: 2px 2px 3px rgba(11, 0, 0, 0.5);
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}
.boton:hover{
    background: var(--rojo);
}


@media(min-width:520px){
    .banner h1{
    font-size: 30px;
}
   .grid{
       display: grid;
       grid-gap: 10px;
       grid-template-columns: repeat(2,1fr);
   }

   .info .contenedor{
    grid-template-columns: repeat(3,150px);
    justify-content: space-around;
   }
   .banner2 h1{
       font-size: 50px;
   }
   .banner2 p{
       font-size: 25px;
   }
}

@media(min-width:728px){


}
@media(min-width:1024px){
   .contenedor{
       width: 1000px;
   }
   .banner h1{
       font-size: 45px;
   }   
.grid{
    grid-template-columns: repeat(auto-fit,minmax(225px,1fr));
grid-auto-flow: dense;
grid-auto-rows: 160px;
}
.big{
    grid-column: span 2;
    grid-row: span 2;
}
.banner2 p{
    font-size: 30px;
}
}

@keyframes desplazamiento {

    /*desplaxamiento inicial*/
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@media(min-width: 768px) {
    .ocultar {
        display: inline;
    }

    .hamburguesa {
        display: none;
    }

    .navegacion a {
        display: inline;
    }

 
  @media (max-width: 600px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  }

  .hamburguesa span {
    width: 5rem;
    height: 1rem;
    border: 3px solid white;
    background-color: var(--azul);
    display: block;
}